.side-position {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f1f1f1;
}

#side {
  width: 100%;
  height: 100%;
  position: static;
  overflow-y: auto;
  overflow-x: hidden;
}

#side > ul {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 40px;
}

.chapter {
  font-size: 15px;
  line-height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chapter.link {
  color: #999;
}
.chapter.dir {
 font-size: 18px;
}
.chapter.dir a {
  color: #666;
}

.container-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  background: #fafafa;
}

#container {
  width: 100%;
  left: 250px;
  position: static;
  overflow-y: auto;
}

.container-inner {
  max-width: 900px;
  min-height: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

.sub-list {
  padding: 0;
  height: 0;
  font-size: 15px;
  overflow: hidden;
  transition: all .25s ease-in-out;
}
.sub-list li {
  padding-left: 8px;
  line-height: 40px;
}




